/* Basic Reset */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
font-family: 'Serif', Georgia, serif;
line-height: 1.6;
padding: 20px;
background-color: #acc5b8;
}
article {
max-width: 700px;
margin: 20px auto;
padding: 20px;
background: #e2d5dc;
border: 4px solid #966981;
border-radius: 8px;
}
h1, h2 {
color: #37704e;
}
h1 {
text-align: center;}
h2 {
margin-top: 30px;
}
.plant-img {
max-width: 100%;
height: auto;
border-radius: 8px;
margin-right: 30px;
margin-left: 30px;
}
ul, li{
margin: 15px;
margin: 15px;
color: #20422e
}
p {
color: #6f4e5f
}
footer {
text-align: center;
margin-top: 50px;
padding-top: 20px;
border-top: 2px solid #537764;
color: #37704e
}
